.App {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.category-filter {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form {
  display: flex;
}

button.submit {
  margin-left: 18px;
}
